---
const { article } = Astro.props;
---

<li>
    <a href={article.url}>
        <h2>
            {article.frontmatter.created.slice(0, 10)}:{" "}
            {article.frontmatter.title}
        </h2>
    </a>
    <p>{article.frontmatter.description}</p>
    <ul>
        {
            article.frontmatter.tags.sort().map((tag: any) => (
                <li>
                    <a href={`/tags/${tag}`}>#{tag}</a>
                </li>
            ))
        }
    </ul>
</li>

<style>
    li {
        margin: 0 0 1rem 0;
    }
    h2 {
        margin: 0 0 0.25rem 0;
        color: var(--pri);
        &:hover {
            color: var(--sec);
        }
    }
    p {
        margin: 0 0 0.5rem 0;
    }
    ul {
        display: flex;
        & > li:not(:first-child) {
            margin: 0 0 0 0.5rem;
        }
    }
</style>
