---
import Layout from "./Layout.astro";
const { frontmatter } = Astro.props;
---

<Layout>
    <h1>{frontmatter.title}</h1>
    <p>{frontmatter.description}</p>
    <p>{frontmatter.category}</p>
    <p>Written by {frontmatter.author}</p>
    <p class="timestamp">
        <span>Created: {frontmatter.created.slice(0, 10)}</span>
        <span>Updated: {frontmatter.updated.slice(0, 10)}</span>
    </p>
    <ul class="tags">
        {
            frontmatter.tags.map((tag: any) => (
                <li>
                    <a href={`/tags/${tag}`}>#{tag}</a>
                </li>
            ))
        }
    </ul>
    <slot />
</Layout>

<style>
    .timestamp {
        & > span {
            display: block;
        }
    }

    .tags {
        display: flex;
        & > li:not(:first-child) {
            margin: 0 0 0 0.5rem;
        }
    }
</style>
